@{
    ViewBag.Title = "About";
}

    <div id="container">
        <img src="../Images/dumbell.jpg" alt="Snow" style="width:100%;">
        <div class="text1">
            <h2>Our Goal</h2>



            <p class="vision">For teams and coaches looking to bring their athletes' strength training performance to the next level, Peak Performance is designed to tailor a variety of workouts to the athlete, keep athletes and coaches on the same page about training, and help athletes and coaches set training goals and make plans to accomplish them. Peak Performance will provide continuous workout programs tailored to an athlete's specific needs and abilities, exercise tracking, and interfacing with social media to allow for a well-rounded strength training experience for all athletes. Unlike many other strength training apps that are bogged down with features and add-ons that are never used, our product strives to serve our customers in the simplest, but most effective ways; helping athletes achieve their goals and helping teams grow closer as they do it.</p>

            <h3>Core Features</h3>
            <ul>
                <li>Customizable goals setting and algorithmic component to steadily reach goals in a reasonable timeframe</li>
                <li>Weight (max) tracking and ability to output workout weights based on individualized stats</li>
                <li>Interfacing with Fitbit API for continuous activity tracking, heart rate monitoring, etc.</li>
            </ul>

            <h3>Upcoming Features</h3>
            <h4>Social media and community board aspect (possible)</h4>
            <ul>
                <li>Interfacing with external social media APIs for ability to post workout updates, pictures, etc. on another platform</li>
                <li>Community board feature with ability to post workouts and activities within a team or group forum to build community within the application</li>

            </ul>
        </div>

        <img src="~/Images/companyLogo.png" alt="companyLogo" id="companyLogo">
    </div>
<p>
    @Html.ActionLink("Back to Home", "Index")
</p>
@section scripts
{
    <link href="@Url.Content("~/Content/about_view.css")" rel="stylesheet" type="text/css" />
}


