@{
    ViewBag.Title = "Contact";
}
    <div class="container-fluid">

        <h3 align="center">@ViewBag.Message</h3>
        <div class="jumbotron">



            <div class="row">
                <div class="col-md-3">

                    <address>
                        Joe Collinsworth<br />
                        Monmouth, OR 97052-6399<br />
                        <abbr title="Phone">Phone:</abbr>
                        971.555.0100
                        <abbr title="Email">Email:</abbr>
                        Support@yahoo.com
                    </address>
                </div>
                <div class="col-md-3">
                    <address>
                        Shay Green<br />
                        Monmouth, OR 97052-6399<br />
                        <abbr title="Phone">Phone:</abbr>
                        503.555.0100
                        <abbr title="Email">Email:</abbr>
                        Support@yahoo.com
                    </address>
                </div>
                <div class="col-md-3">
                    <address>
                        Megan Traeger<br />
                        Monmouth, OR 97052-6399<br />
                        <abbr title="Phone">Phone:</abbr>
                        971.555.0100
                        <abbr title="Email">Email:</abbr>
                        Support@yahoo.com
                    </address>
                </div>

                <div class="col-md-3">
                    <address>
                        Sodara Y<br />
                        Monmouth, OR 97052-6399<br />
                        <abbr title="Phone">Phone:</abbr>
                        503.555.0100
                        <br />
                        <abbr title="Email">Email:</abbr>
                        Support@yahoo.com
                    </address>
                </div>


            </div>
        </div>
    </div>