@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CS 460 Homework 4</h1>
    <p class="lead">A couple forms and some simple server-side logic -- learning the basics of GET, POST, query strings, form data and handling it all from an ASP.NET MVC 5 application.</p>
    <p><a href="https://wou-cs46x-resources.netlify.com/cs460/hw/hw4" class="btn btn-primary btn-lg">The Assignment &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>RGB Color</h2>
        <p>
            Want to know what a particular RGB color looks like? How about it's web color format? Here you go. Uses query strings to send form data to the server, which reads them in the Request object. It then performs the calculation and formats the result in a view to return to you.
        </p>
        <p><a class="btn btn-default" href="Home/RGBColor">Try it out &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Color Interpolation</h2>
        <p>Typical online color choosers are way too useful. We wanted something fun and completely useless. This POST's the datat to the server and uses parameter to make it easy.</p>
        <p><a class="btn btn-default" href="ColorInterpolator/Create">Try it out &raquo;</a></p>
    </div>
    
</div>