@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Homework Tracker</h1>
    <p class="lead">This Will help you track your homework assignments.</p>
    <p><a href="Assignments/Index" class="btn btn-primary btn-lg">View &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Current Assignments</h2>
        <p>
            You can view your current homework tasks here.
        </p>
        <p><a class="btn btn-default" href="Assignments/Index">View &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Add more Assignments</h2>
        <p>You can go here to Add more Homeworks.</p>
        <p><a class="btn btn-default" href="Assignments/Create">Try it out &raquo;</a></p>
    </div>
    
</div>