.header-img {
    width: 100%;
    height: 400px;
    background: url('https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
}

h2 {
    text-align: center;
}

.Stock{
    width: 600px;
    background-color:antiquewhite;
}
.Sum {
    width: 600px;
    background-color: antiquewhite;
}
.Sale {
    width: 600px;
    background-color: antiquewhite;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
