

<h2>Teams:</h2>

<div id="teams"></div>
<br />
<h2>Student Name:</h2>
<div id="students">
    
</div>
<br />
<h2>Race Distance:</h2>
<div id="distance"></div>

<div class="row">
    <div class="col-lg-12">
        <div id="theplot"></div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
}