@model IEnumerable<HW6.Models.StockItem>

@{
    ViewBag.Title = "Index";
}



<div class="header-img"></div>

<h2>Stock Search</h2>


<div class="col-md-6">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <table>
            <tr>
                <td>@Html.TextBox("search", null, new { style = " Width:900px; " })</td>
                <td colspan="2"><input type="submit" value="Search"></td>
            </tr>


        </table>
    }
</div>

    <table class="table">

        @if (Model.Count() > 0)
        {
            <tr>
                <td colspan="4">
                    Stock Items matching your search: "@Request.QueryString["search"]"
                </td>


            </tr>
        }
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.ActionLink(item.StockItemName, "Details", "Home", new { id = item.StockItemID }, null)
                </td>


            </tr>

        }


    </table>
